* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}
.loader {
  background-color: #875cff;
  position: relative;
  width: 20rem;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation-name: loader;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.loader::before {
  content: "";
  position: absolute;
  width: 17rem;
  aspect-ratio: 1;
  border-radius: 50%;
  left: 0;
  bottom: 0;
  background-color: black;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.loader::after {
  content: "";
  position: absolute;
  width: 7rem;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 58px;
  left: -36px;
  background-color: #875cff;
  box-shadow: 0px 0px 18px 13px #875cff;
  z-index: 10;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
